.product-main-section{
    height: max-content;
    width: 100%;
    padding-left: 127px;
    padding-right: 62px;
    padding-bottom: 100px;
}

.product-container{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.product-heading{
    color: #181818;
    font-family: Euclid Circular B;
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.product-search-container{
    padding-left: 25px;
    width: 456px;
    height: 70px;
    border-radius: 17px;
    border: 2px solid #181818;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap:17px
}

.product-search-container-search-icon{
    transform: scale(1.2);
    outline: none;
}

.product-search-container > input{
    border: none;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
}

.product-search-container > input:focus{
    outline:none;
}

.product-container-sub-heading{
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 100% */
    letter-spacing: -0.48px;
    margin-top: 14px;
    margin-bottom: 24px;
}

.product-container-list{
    display: flex;
    flex-wrap: wrap;
    gap:52px;
    justify-content: center;
    align-items: stretch;
}

.product-container-items{
    display: flex;
    width: 384px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    border-radius: 16px;
    border: 1px solid #181818;
    justify-content: flex-end;
    cursor: pointer;
}

.product-container-items-image{

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 167px;
    height: 188px;
}

.product-container-items-name{
    color: var(--neutral-black, #000);
    font-family: Euclid Circular B;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.96px;
}

.product-container-items-estd{
    color: var(--gray-500, #666);
    font-family: Euclid Circular B;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
}

.product-container-items-btn{
    width: 336px;
    height: 50px;
    border-radius: 6px;
    background: #9747FF;
    color: #FFF;
    font-family: Euclid Circular B;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
    letter-spacing: -0.28px;
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in-out all;

}

.product-container-items-btn:hover{
    background-color: white;
    color:#9747FF;
    border:2px solid #9747FF;
}

@media screen and (min-width:1451px) and (max-width:1919px){
    .product-container{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .product-main-section{
        height: max-content;
        width: 100%;
        padding-left: 60px;
        padding-right: 30px;
    }
    .product-heading{
        font-size: 56px;
    }
    .product-search-container{
        padding-left: 25px;
        width: 370px;
        height: 56px;
        border-radius: 17px;
        border: 2px solid #181818;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        gap:17px
    }
    .product-container-items{
        display: flex;
        width: 300px;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;

        gap: 15px;
        border-radius: 16px;
        border: 1px solid #181818;
    }
    
    .product-container-items-btn{
        width: 230px;
        height: 50px;
        border-radius: 6px;
        background: #9747FF;
        color: #FFF;
        font-family: Euclid Circular B;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 114.286% */
        letter-spacing: -0.28px;
        border: none;
    }
}

@media screen and (min-width:768px) and (max-width:1451px){
    .product-container{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .product-main-section{
        height: max-content;
        width: 100%;
        padding-left: 60px;
        padding-right: 30px;
    }
    .single-brand{
        width: 250px;
        height:max-content;
    }
    .product-heading{
        font-size: 56px;
    }
    .product-search-container{
        padding-left: 25px;
        width: 300px;
        height: 50px;
        border-radius: 17px;
        border: 2px solid #181818;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        gap:17px
    }
    .product-container-list{
        display: flex;
        flex-wrap: wrap;
        gap:30px;
    }
    
    .product-container-items{
        display: flex;
        width: 250px;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        border-radius: 16px;
        border: 1px solid #181818;
    }
    
    .product-container-items-btn{
        width: 200px;
        height: 50px;
        border-radius: 6px;
        background: #9747FF;
        color: #FFF;
        font-family: Euclid Circular B;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 114.286% */
        letter-spacing: -0.28px;
        border: none;
    }
}


@media screen and (min-width:0px) and (max-width:767px){
    .product-container{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .product-heading{
        font-size: 24px;
    }
    .product-search-container{
        padding-left: 25px;
        width:150px;
        height: 50px;
        border-radius: 17px;
        border: 2px solid #181818;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        gap:17px;
        overflow:hidden;
    }
    .product-search-container >  input{
        border: none;
        color: #000;
        font-family: Montserrat;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 133.333% */
        letter-spacing: -0.36px;
    }
    .product-main-section{
        height: max-content;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .product-container-list{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        justify-content: center;
        align-items: center;
    }
    
    .product-container-items{
        display: flex;
        width: 200px;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        border-radius: 16px;
        border: 1px solid #181818;
    }
    
    .product-container-items-image{
        background-image: url("../../assets/Products/product-image.png");
        width: 167px;
        height: 188px;
    }
    
    .product-container-items-name{
        color: var(--neutral-black, #000);
        font-family: Euclid Circular B;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.96px;
    }
    
    .product-container-items-estd{
        color: var(--gray-500, #666);
        font-family: Euclid Circular B;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.32px;
    }
    
    .product-container-items-btn{
        width: 150px;
        height: 50px;
        border-radius: 6px;
        background: #9747FF;
        color: #FFF;
        font-family: Euclid Circular B;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 114.286% */
        letter-spacing: -0.28px;
        border: none;
    }
}

@media(max-width:460px){
    .product-container-sub-heading{
        font-size: 18px;
    }

    .product-search-container{
        gap:5px;
        padding-left: 10px;
    }

    .product-search-container >  input{
        border: none;
        color: #000;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 133.333% */
        letter-spacing: -0.36px;
    }
    .product-search-container-search-icon{
        transform: scale(1);
        outline: none;
    }
    .product-container-list{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        justify-content: center;
        align-items: center;
    }
    
    .product-container-items{
        display: flex;
        width: 40%;
        padding: 7px;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
        border-radius: 16px;
        border: 1px solid #181818;
        padding-bottom: 10px;
    }
    
    .product-container-items-image{
        background-image: url("../../assets/Products/product-image.png");
        width: 70px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .product-container-items-name{
        color: var(--neutral-black, #000);
        font-family: Euclid Circular B;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 133.333% */
        letter-spacing: -0.96px;
    }
    
    .product-container-items-estd{
        color: var(--gray-500, #666);
        font-family: Euclid Circular B;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 150% */
        letter-spacing: -0.32px;
    }
    
    .product-container-items-btn{
        width:100%;
        height: 30px;
        border-radius: 6px;
        background: #9747FF;
        color: #FFF;
        font-family: Euclid Circular B;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 114.286% */
        letter-spacing: -0.28px;
        border: none;
    }
}

