.about-us-main-container{
    height:max-content;
    background: linear-gradient(180deg, #9747FF 0%, rgba(151, 71, 255, 0.00) 102.04%);
}

.about-us-sub-container{
    padding-top: 80px;
    padding-left: 214px;
}

.about-us-content-container{
    display: flex;
}

.about-us-content{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    height: 950px;
}

.about-us-heading{
    color: #FFF;
    font-family: Montserrat;
    font-family: "Poppins", sans-serif;
    font-size: 256px;
    font-style: normal;
    font-weight: 700;
    line-height: 239px; /* 93.359% */
    letter-spacing: -5.12px;
}

.about-us-heading-description{
    color: #000;
    font-family: Euclid Circular B;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height:35px; /* 0px */
    text-transform: capitalize;
    width: 90%;
    height:50%;
    margin-top:10px;
    text-align: left;

}

.about-us-heading-black{
    margin-top: auto;
    color: #181818;
    font-family: Montserrat;
    font-family: "Poppins", sans-serif;
    font-size: 256px;
    font-style: normal;
    font-weight: 700;
    line-height: 239px; /* 93.359% */
    letter-spacing: -5.12px;
}

.about-us-image{
    width: 788px;
    height: 950px;
    flex-shrink: 0;
    background-image: url("../../assets/Home/about-us.png");

    background-size: cover;
}

.about-us-description{
    margin-top: 50px;
    color: #000;
    font-family: Euclid Circular B;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding-right: 50px;
}

.iframe-video{
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media(max-width:1700px){
    .about-us-sub-container{
        padding-top: 80px;
        padding-left: 100px;
    }
    .about-us-heading{
        font-size: 200px;
        line-height: 170px; /* 93.359% */
    }
    
.about-us-heading-black{
    font-size: 200px;
    line-height: 180px; /* 93.359% */

}
}


@media(max-width:1500px){
    .about-us-sub-container{
        padding-top: 80px;
        padding-left: 100px;
    }
    .about-us-heading{
        font-size: 180px;
        line-height: 170px; /* 93.359% */
    }
    
.about-us-heading-black{
    font-size: 180px;
    line-height: 170px; /* 93.359% */

}
}

@media(max-width:1300px){
    .about-us-sub-container{
        padding-top: 70px;
        padding-left: 100px;
    }
    .about-us-heading{
        font-size: 150px;
        line-height: 150px; /* 93.359% */
    }
    
.about-us-heading-black{
    font-size: 150px;
    line-height: 150px; /* 93.359% */

}
}


@media(max-width:1100px){
    .about-us-sub-container{
        padding-top: 70px;
        padding-left: 100px;
    }
    .about-us-heading{
        font-size: 150px;
        line-height: 150px; /* 93.359% */
    }
    
.about-us-heading-black{
    font-size: 150px;
    line-height: 150px; /* 93.359% */
    margin-top: auto;
}
.about-us-image{
    width: 600px;
    height: 800px;
    flex-shrink: 0;
    background-image: url("../../assets/Home/about-us.png");
    background-position: right;
}

.about-us-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 800px;
}
.about-us-heading-description{
    width: 100%;
    height:50%;
    margin-top:0px;
    line-height: normal;
}

}

@media(max-width:950px){
    .about-us-sub-container{
        padding-top: 70px;
        padding-left: 50px;
    }
    .about-us-heading{
        font-size: 120px;
        line-height: 120px; /* 93.359% */
    }
    
.about-us-heading-black{
    font-size: 120px;
    line-height: 120px; /* 93.359% */
    margin-top: auto;
}
.about-us-image{
    width: 600px;
    height: 800px;
    flex-shrink: 0;
    background-image: url("../../assets/Home/about-us.png");
    background-position: right;
    background-size: cover;
}

.about-us-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 800px;
}
.about-us-heading-description{
    width: 100%;
    height:50%;
    font-size:16px;
}

.about-us-description{
    font-size: 16px;
    margin-top: 30px;
}
}

@media(max-width:768px){
    .about-us-content-container{
        display: flex;
        gap:10px;
    }
    .about-us-sub-container{
        padding-top: 70px;
        padding-left: 30px;
    }
    .about-us-heading{
        font-size: 100px;
        line-height: 100px; /* 93.359% */
    }
    
.about-us-heading-black{
    font-size: 100px;
    line-height: 100px; /* 93.359% */
    margin-top: auto;
}
.about-us-image{
    width: 400px;
    height: 600px;
    flex-shrink: 0;
    background-image: url("../../assets/Home/about-us.png");
    background-position: right;
    background-size: cover;
}

.about-us-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 600px;
}
.about-us-heading-description{
    width: 100%;
    height:60%;
    font-size:16px;
    overflow: scroll;
}

.about-us-description{
    font-size: 16px;
    margin-top: 30px;
}
}

@media(max-width:600px){
    .iframe-video{
        height: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .about-us-sub-container{
        padding-top: 70px;
        padding-left: 30px;
    }
    .about-us-heading{
        font-size: 80px;
        line-height: 80px; /* 93.359% */
    }
    
.about-us-heading-black{
    font-size: 80px;
    line-height: 80px; /* 93.359% */
    margin-top: auto;
}
.about-us-image{
    width:300px;
    height: 600px;
    flex-shrink: 0;
    background-image: url("../../assets/Home/about-us.png");
    background-position: right;
    background-size: cover;
}

.about-us-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 600px;
}
.about-us-heading-description{
    width: 100%;
    height:70%;
    font-size:16px;
    overflow: scroll;
}

.about-us-description{
    font-size: 16px;
    margin-top: 30px;
}
}

@media(max-width:460px){
    .about-us-sub-container{
        padding-top: 70px;
        padding-left: 20px;
    }
    .about-us-heading{
        font-size: 70px;
        line-height: 70px; /* 93.359% */
    }
    
.about-us-heading-black{
    font-size: 70px;
    line-height: 70px; /* 93.359% */
    margin-top: auto;
}
.about-us-image{
    width:300px;
    height: 600px;
    flex-shrink: 0;
    background-image: url("../../assets/Home/about-us.png");
    background-position: right;
    background-size: cover;
}

.about-us-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 600px;
}
.about-us-heading-description{
    width: 100%;
    height:70%;
    font-size:16px;
    overflow: scroll;
}

.about-us-description{
    font-size: 16px;
    margin-top: 30px;
}
}

@media(max-width:400px){
    .about-us-sub-container{
        padding-top: 70px;
        padding-left: 20px;
    }
    .about-us-heading{
        font-size: 60px;
        line-height: 60px; /* 93.359% */
    }
    
.about-us-heading-black{
    font-size: 60px;
    line-height: 60px; /* 93.359% */
    margin-top: auto;
}
.about-us-image{
    width:300px;
    height: 600px;
    flex-shrink: 0;
    background-image: url("../../assets/Home/about-us.png");
    background-position:right right;
    background-size: cover;
}

.about-us-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 600px;
}
.about-us-heading-description{
    width: 100%;
    height:60%;
    font-size:16px;
    overflow: scroll;
}

.about-us-description{
    font-size: 16px;
    margin-top: 30px;
}
}

@media(max-width:350px){
    .about-us-sub-container{
        padding-top: 70px;
        padding-left: 20px;
    }
    .about-us-heading{
        font-size: 50px;
        line-height: 50px; /* 93.359% */
    }
    
.about-us-heading-black{
    font-size: 50px;
    line-height: 50px; /* 93.359% */
    margin-top: auto;
}
.about-us-image{
    width:250px;
    height: 500px;
    flex-shrink: 0;
    background-image: url("../../assets/Home/about-us.png");
    background-position:right right;
    background-size: cover;
}

.about-us-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 500px;
}
.about-us-heading-description{
    width: 100%;
    height:60%;
    font-size:16px;
    overflow: scroll;
}

.about-us-description{
    font-size: 16px;
    margin-top: 30px;
}
}











